{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock title %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
      {% endblock title_suffix %}
    </title>
    <meta name="description" content="A Lloyd Flanagan's Personal Website" />
    <link rel="apple-touch-icon" href="{% static 'images/logo192.png' %}" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="{%  static 'manifest.json' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantata+One|Roboto&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oooh+Baby">

    {# Global stylesheets #}

    {% block extra_css %}

    {% endblock extra_css %}
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    {% wagtailuserbar %}

    <div id="app">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% block header %}
          {% include 'components/header.html' %}
        {% endblock header %}
        {% block content %}
        {% endblock content %}
        {% block footer %}
          {% include 'components/footer.html' %}
        {% endblock footer %}
      </div>
    </div>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>

    {% block extra_js %}

    {% endblock extra_js %}
  </body>
</html>
